<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZYTagViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C95250DC1D9C00BE00B406F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C95250F51D9C00BE00B406F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C95251001D9C00BE00B406F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
